
.background-img{
    background-image: url(body.jpeg);
}


.first{
    width: 1350px;
    height: 50px;
    background-color:cornsilk;
    margin-left: -8px;
    margin-top: -6px;
   
}
.name{
    font-size: 25px;
    color:darkgreen;
    margin-left: 350px;
    
    
}

.home{
    margin-left: 400px;

}

.about{
    margin-left: 30px;


}

.port{
   
    margin-left: 30px;


}

.resume{
    margin-left: 30px;




}


.contact{
    margin-left: 30px;

   
}




.background{
    margin-left: -8px;
    
}

.hi{
color: orange;
position: absolute;
margin-top: -280px;
margin-left: 250px;
font-size: 30px;

}

.end{
    color:white ;
    margin-top: -245px;
    margin-left: 250px;
    font-size: 30px;
    

}

.get{
    color:white ;
    margin-top: 50px;
    margin-left: 250px;
    


}
.button1{
width:110px ;
height:30px ;
border-radius: 10px;
color: white;
background-color: rgb(59, 95, 254);
border: none;
position: absolute;
margin-top: 0px;
margin-left: 250px;


}

.button2{
    width:110px ;
    height:30px ;
    border-radius: 10px;
    color: white;
    background-color:orange;
    border: none;
    position: absolute;
    margin-top: 0px;
    margin-left: 370px;

    }

.rightimg{
margin-top: -177px;
margin-left: 800px;

}

/* first image */

.second{
    width: 1000px;
    height: 550px;
background-color: white;
border: 2px solid red;
margin-left: 180px;
margin-top: 20px;
border-radius: 20px;
border: none;
box-shadow: 5px 5px 10px black;
margin-top: -60px;
}

.paragraph{
    margin-left: 440px;
    margin-top: 90px;
}

.head{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(27, 27, 157);
font-size: 40px;
margin-top: -20px;
}

.para1{
    color: rgb(59, 95, 254);
font-size: 20px;


}


.lang{
    width: 490px;
    height: 120px;
    border: 1px solid red;
    margin-left: 440px;
    margin-top: 70px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    border: none;
}

.lib{
    margin-left: 20px;

}

.all{
    margin-left: 20px;
}

.straight{
    position: absolute;
    margin-top: -315px;
    margin-left: -400px;


}

/* first page end */


.third{
    width: 1000px;
    height: 550px;
background-color: white;
border: 2px solid red;
margin-left: 180px;
border-radius: 20px;
border: none;
box-shadow: 5px 5px 10px black;

}

.portfolio{
    margin-left: 400px;
    color: blue;
}

.img1{

    margin-left: 30px;
    margin-top: 50px;

}
.img2{
    position: absolute;
    margin-left: 360px;
    margin-top: -223px;
}

.img3{
    position: absolute;
    margin-left: 680px;
    margin-top: -222px;
    
}

.img4{
   
    margin-left: 30px;
    margin-top: 20px;
    
}

.img5{
    position: absolute;
    margin-left: 360px;
    margin-top: -203px;
}

.img6{
    position: absolute;
    margin-left: 680px;
    margin-top: -203px;

}

/* work experience page && education*/

.fourth{
    width: 1000px;
    height: 550px;
background-color: white;
border: 2px solid red;
margin-left: 180px;
border-radius: 20px;
border: none;
box-shadow: 5px 5px 10px black;

} 

.bigresume {
    margin-left: 400px;
    color: blue;
}
 
.work{
    font-size: 25px;
    margin-left: 100px;
    color: rgb(167, 50, 108);
}

.senior{
    font-size: 20px;
    margin-left: 120px;
    color: rgb(4, 4, 59);

}

.fb{
    font-size: 15px;
    margin-left: 120px;
    color: rgb(50, 93, 167);

}

.twenty{
         width: 130px;
         height: 30px;
         border-radius: 65px;
         background-color: orange;
         color: white;
         border: none;
         position: absolute;
       margin-left: 530px;
       margin-top: -150px;
         
}

.thirteen{

    width: 130px;
    height: 30px;
    border-radius: 65px;
    background-color: orange;
    color: white;
     border: none;
    position: absolute;
    margin-left: 530px;
    margin-top: -70px;
}


.ten{
width: 130px;
height: 30px;
border-radius: 65px;
background-color: orange;
color: white;
 border: none;
position: absolute;
margin-left: 530px;
margin-top: -130px;
}

.hr{
    width: 65%;
}

/* image */


.left{
    width: 300px;
    height: 380px;
border-radius: 20px 20px;
    position: absolute;
    margin-left: 680px;
    margin-top: -450px;
    background-color: hwb(0 35% 64% / 0.365);
border: none;

}



.imagefive{
    width: 300px;
    height: 60px;
    border: 2px solid blue;
    position: absolute;
    margin-left: 680px;
    margin-top: -60px;
    border: none;
    background-color:rgb(194, 246, 229);
    border-radius: 10px;
}

.fb{
    margin-left: 35px;
}


/* people say me */

.fifth{
    width: 800px;
    height: 550px;
background-color: white;
border: 2px solid red;
margin-left: 110px;
border-radius: 20px;
border: none;
box-shadow: 5px 5px 10px black;

} 

.what{

margin-left: 300px;
color: blue;

}

.marks{
    border-radius: 90px;
    margin-top: 70px;
    margin-left: 50px;

}

.owner{
font-size: 22px;
margin-left: 40px;
margin-top: 10px;
color: brown;

}
.company{
margin-top: -20px;
margin-left: 90px;
color: rgb(234, 176, 30);
}


.randompara{
    margin-top: 30px;
    margin-left: 30px;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     color: rgb(95, 95, 192);
}

.messi{
    border-radius: 90px;
    position: absolute;
    margin-top: -360px;
    margin-left: 320px;
}


.owner1{
    position: absolute;
    margin-top: -200px;
    margin-left: 340px;
    font-size: 22px;
    color: brown;
    }
    .company1{
    
        position: absolute;
        margin-top: -170px;
        margin-left: 370px;
        color: rgb(234, 176, 30);
    }
    

    .randompara1{
        position: absolute;
        margin-top: -125px;
        margin-left: 310px;
         font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
         color: rgb(95, 95, 192);

    }


/* ... */

    .musk{
        border-radius: 90px;
        position: absolute;
        margin-top: -360px;
        margin-left: 590px;
    }
    
    
    .owner2{
        position: absolute;
        margin-top: -200px;
        margin-left: 610px;
        font-size: 22px;
        color: brown;
        }
        .company2{
        
            position: absolute;
            margin-top: -170px;
            margin-left: 650px;
            color: rgb(234, 176, 30);
        }
        
    
        .randompara2{
            position: absolute;
            margin-top: -125px;
            margin-left: 570px;
             font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
             color: rgb(95, 95, 192);

        }
    
    .doublebg{
        margin-top: 50px;
        border-bottom-left-radius : 20px; 
        border-bottom-right-radius: 20px;

    }
    
    
    
   /* second last div  */
    
    .what{

        margin-left: 300px;
        color: blue;
        
        }
    
    
        .sixth{
            width: 400px;
            height:550px;
        background-color: rgb(254, 249, 249);
       
        margin-left: 110px;
       
        } 
    
  .connect{
position: absolute;
margin-top: 50px;
margin-left: 40px;
color: brown;
  }  
    
    .lastpara{
        color: rgb(95, 95, 192);
        position: absolute;
        margin-top: 100px;
        margin-left: 40px;
    }
    
    
    .mail{

        position: absolute;
        margin-top: 300px;
        margin-left: 40px;
    }
    
    .sanketmail{
        position: absolute;
        margin-top: 305px;
        margin-left: 110px;

    }
    

    
    .phone{

        position: absolute;
        margin-top: 350px;
        margin-left: 40px;
        border-radius: 50%;
    }
    
    .sanketphone{
        position: absolute;
        margin-top: 360px;
        margin-left: 110px;

    }
    

    
    .location{

        position: absolute;
        margin-top: 400px;
        margin-left: 40px;
        border-radius: 50%;
    }
    
    .sanketlocation{
        position: absolute;
        margin-top: 405px;
        margin-left: 110px;

    }
    
    
    /* last div  */
    
    
    .seventh{
        width: 400px;
        height:550px;
    background-color: rgb(247, 207, 133);
   position: absolute;
    margin-left: 510px;
   margin-top:-550px ;
    } 
    
    .firstname{


margin-top: 100px;
margin-left: 40px;

    }
    
    
    .inputname{
margin-left:40px ;
height: 25px;
width: 250px;
border-radius: 5px;
border: none;
    }
    
    .firstnumber{
        margin-left: 40px;

    }
    
    
    
    .firstemail{

        margin-left: 40px;

    }

.firstmessage{
    margin-left: 40px;

}
.inputmessage{
    margin-left: 40px;

}

.sendmessage{
    width: 170px;
    height: 35px;
    margin-top: 40px;
    margin-left: 110px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: orange;
}

/* end  */

.thank{
   
    margin-top: 50px;
    background-color:orange ;
}
.you{
    text-align: center;
    font-size: 25px;
    font-style: italic;
}


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


























































































